.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fffdf2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 12px 13px 13px 10px;
  }
  &__logo {
    width: 39px;
    height: 39px;
    object-fit: cover;
  }
  &__logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo-text {
    margin-right: auto;
    margin-left: 3px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__form {
    display: flex;
    justify-content: space-between;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
    margin-right: 8px;
    max-width: 400px;
    position: relative;
  }
  &__form-input {
    padding: 8px 38px 8px 6px;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #070707;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s;
    width: 0;
    right: 0;
    pointer-events: none;
    &--active {
      pointer-events: all;
      width: 198px;
      border: 2px solid #f8d90e;
      border-radius: 5px;
      background: #d9d9d9;
    }
    &::placeholder {
      font-family: "Montserrat", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 18px;
      color: #716d6d;
    }
  }
  &__form-icon {
    content: "";
    position: absolute;
    width: 39px;
    height: 39px;
    right: 2px;
    top: 3px;
    background-color: transparent;
    cursor: pointer;
  }
}
