.catalog {
  &__content {
    padding-top: 6px;
    background: #dbdbdb;
    min-height: 100vh;
  }
  &__search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 7px 21px 7px;
    position: relative;
    column-gap: 5px;
  }
  &__filtration {
    height: 52px;
    background: rgba(106, 106, 106, 0.7);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
    &:hover {
      border-color: black;
    }
  }
  &__filtration:focus {
    border-color: #1976d2;
    border-width: 2px;
    .filter__info {
      left: 0;
    }
  }
}
#demo-simple-select,
#menu-item-select {
  background: rgba(106, 106, 106, 0.7);
}
#demo-simple-select-label,
#demo-simple-select,
#menu-item-select {
  color: #fff;
}
#demo-simple-select {
  padding: 14.5px 14px;
}
.filter {
  &__info {
    content: "";
    position: absolute;
    top: 105%;
    left: -200%;
    padding: 29px 10px 11px 20px;
    background: rgba(106, 106, 106, 0.95);
    border-radius: 10px;
    width: 100%;
    transition: all 0.3s;
    cursor: auto;
    z-index: 1;
  }
  &__link {
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
  }
  &__genre {
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 40px;
  }
  &__text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    color: #fff;
  }
}
