.catalog {
  &__content {
    padding-top: 6px;
    background: #dbdbdb;
    min-height: 100vh;
  }
  &__search {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 7px 21px 7px;
    position: relative;
    column-gap: 5px;
  }
  &__filtration,
  &__filtration_active {
    height: 52px;
    background: rgba(106, 106, 106, 0.7);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(192, 192, 192);
  }
  &__filtration {
    &:hover {
      border-color: black;
    }
  }
  &__filtration_active {
    border-color: #1976d2;
    border-width: 2px;
  }
}
#demo-simple-select,
#menu-item-select {
  background: rgba(106, 106, 106, 0.7);
  &:focus {
    & #place {
      display: none;
    }
  }
}
#demo-simple-select-label,
#demo-simple-select,
#menu-item-select {
  color: #fff;
  text-align: center;
}
#demo-simple-select {
  padding: 14.5px 14px;
}

.show__btn {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
  color: #007aff;
  width: 135px;
  margin: 0 auto;
  margin-top: -5px;
}

.filter {
  &__info,
  &__info_active {
    transition: all 0.3s;
    position: absolute;
    top: 105%;
    left: -200%;
    padding: 29px 10px 11px 20px;
    background: rgba(106, 106, 106, 0.95);
    border-radius: 10px;
    width: 100%;
    min-height: 330px;
    transition: all 0.3s;
    cursor: auto;
    z-index: 10;
  }
  &__info_active {
    left: 0;
  }
}
