.search {
  &__content {
    max-width: 1050px;
    width: 100%;
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
  }
  &__add-books {
    margin-left: 60px;
  }
  &__add-link {
    font-size: 18px;
  }
}
