.admin-catalog {
  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    gap: 0px 30px;
    justify-content: center;
    align-items: center;
    max-height: 1890px;
    width: 95vw;
    height: 1890px;
    margin: 40px auto;
  }
}


.paggination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
}