.container__generator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  min-height: 50vh;
  margin: 0 auto;
}
.form {
  &__qr {
    margin-top: 35px;
  }
  &__download-qr {
    padding: 5px;
    width: 203px;
    height: 36px;
    background-color: #D9D9D9;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}
